nav button {
    padding: 8px;
    background: black;
    color: white;
    border: 3px solid black;
    cursor: pointer;
    border-radius: 6px;
}

nav button:hover {
    background: white;
    color: black;
}

nav .navlink {
    background: white;
    color: black;
    padding: 2px 16px;
    cursor: pointer;
    border-radius: 4px;
}

nav .navlink:hover {
    background: black;
    color: white;
}